/* styles.css */

body {
    font-family: 'Google Sans', sans-serif; /* Ustawienie czcionki na Google Sans dla całej strony */;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding: 20px; /* Dodatkowy padding dla wyglądu */
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left; /* Ustawienie tekstu na lewo */
}

#searchInput {
    border-radius: 30px; /* Zaokrąglenie krawędzi na 30px */
    padding: 15px; /* Dodatkowy padding dla wyglądu */
    font-size: 24px; /* Rozmiar czcionki */
    border: 2px solid #000; /* Styl obramowania */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Cień */
    width: 100%; /* Szerokość pola input */
    max-width: 400px; /* Maksymalna szerokość pola input */
    text-align: center; /* Wyśrodkowanie tekstu w polu input */
    margin-bottom: 20px; /* Margines dolny dla odstępu od linków */
}

ul {
    list-style-type: none; /* Wyłączenie standardowych stylów listy */
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px; /* Margines dolny między linkami */
}

a {
    font-size: 20px; /* Zwiększenie rozmiaru hiperłączy */
    display: inline-block; /* Ustawienie hiperłączy jako bloki */
    margin-left: 10px; /* Margines tylko po lewej stronie */
}

.no-results {
    font-style: italic; /* Kursywa dla tekstu informacyjnego */
    color: #666; /* Kolor szary dla tekstu informacyjnego */
}

.footer {
    background-color: #f0f0f0; /* Kolor tła */
    width: 100%; /* Szerokość */
    padding: 10px 0; /* Wewnętrzny padding */
    text-align: center; /* Wyśrodkowanie tekstu */
    position: fixed; /* Pozycja na stałe na dole ekranu */
    bottom: 0; /* Odległość od dołu */
    left: 0; /* Odległość od lewej krawędzi */
    z-index: 999; /* Wysokość warstwy */
}
